body{
    margin-top:none;
    padding:0px;
    top:0;
    background:rgb(71, 68, 68);
    color:#fff;
    background-image:url("https://media.istockphoto.com/id/1281041623/vector/studio-room-background.jpg?s=612x612&w=0&k=20&c=sa4Cmfav9HqximETEl9AuMy5BkMNgwu9c-b4apMm4rA=");
    background-size:100% 100%;
    background-repeat:no-repeat;
}